
<div class="mx-5">
<div>
   <h1>{{data.name}}</h1>
   
</div><br>

   <h5 style="color: brown;">About</h5 >
   <div [innerHTML]="data.about"></div><br>


   <img src="{{data.img1}}" alt="" width="200" height="200">

   <h5 style="color: brown;">Objective</h5>
    <div [innerHTML]="data.objective"></div><br>
    
    <h5 style="color: brown;">Agenda</h5>
    <div [innerHTML]="data.agenda"></div><br>

    <h5 style="color: brown;">Highlights</h5>
    <div [innerHTML]="data.highlights"></div><br>

    <h5 style="color: brown;">Eligibility</h5>
    <div [innerHTML]="data.eligibility"></div><br>

    <h5 style="color: brown;">Test Details</h5>
    <div [innerHTML]="data.test"></div><br>

    <h5 style="color: brown;">Course Fee</h5>
    <div [innerHTML]="data.courseFee"></div><br>
    <h5 style="color: brown;">Refund Policy</h5>
    <div [innerHTML]="data.refundPolicy"></div><br>
    <h5 style="color: brown;">Important Dates</h5>
    <div [innerHTML]="data.importantDates"></div><br>

    <br>
    <h3>Question paper link</h3>
     <a href="{{data.questionPaperLink}}" target="_blank">Link</a>
    <h3>Status</h3>
    <button> {{data.status}}</button>

   </div>
  