
<h3 style="align-content: center;">Institutional Course List</h3>
<table class="table table-bordered pb-4">
    
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Courses</th>
            <th scope="col">Update</th>
           
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor = "let d of data;let ndx = index">
            <td>{{ndx+1}}</td>
            <td>{{d.name}}</td>
            <button mat-icon-button matTooltip="Click to Edit" (click)="editCourse(d.name)" class="iconbutton" color="primary">
                <mat-icon aria-label="Edit">edit</mat-icon>
              </button>
              <button mat-icon-button matTooltip="Click to Delete" (click)="deleteCourse(d.name)" class="iconbutton" color="warn">
                 <mat-icon aria-label="Delete">delete</mat-icon>
              </button>
            
          </tr>
         
         
        </tbody>
      </table>
 

