<main style="margin-top: 58px">
    <div class="container pt-4 ">
     

      
      <!--Section: Minimal statistics cards-->
      <section>
        <div class="row ">
            <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="card bg-primary h-100">
              <div class="card-body">
                <div class="d-flex justify-content-between px-md-1">
                  <div class="align-self-center">
                    <i class="fas fa-pencil-alt text-info fa-3x"></i>
                  </div>
                  <div class="text-end">
                    <h3>{{data.length}}</h3>
                    <p class="mb-0">Total Retail Course Request</p>
                    <br>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="card bg-warning h-100">
              <div class="card-body">
                <div class="d-flex justify-content-between px-md-1">
                  <div class="align-self-center">
                    <i class="far fa-comment-alt text-warning fa-3x"></i>
                  </div>
                  <div class="text-end">
                    <h3>{{data1.length}}</h3>
                    <p class="mb-0">Total Instutional Course Request</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 col-12 mb-4 ">
              
            <div class="card bg-success h-100">
              <div class="card-body">
                <div class="d-flex justify-content-between px-md-1">
                  <div class="align-self-center">
                    <i class="fas fa-chart-line text-success fa-3x"></i>
                  </div>
                  <div class="text-end">
                    <h3>{{data2.length}}</h3>
                    <p class="mb-0">Total Corporate Course Request</p>
                  </div>
                </div>
              </div>
            </div>
            
              
          </div>
         <!--  <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between px-md-1">
                  <div class="align-self-center">
                    <i class="fas fa-map-marker-alt text-danger fa-3x"></i>
                  </div>
                  <div class="text-end">
                    <h3>423</h3>
                    <p class="mb-0">Total Membership Request</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->
       <!-- <div class="row">
          <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between px-md-1">
                  <div>
                    <h3 class="text-danger">278</h3>
                    <p class="mb-0">New Projects</p>
                  </div>
                  <div class="align-self-center">
                    <i class="fas fa-rocket text-danger fa-3x"></i>
                  </div>
                </div>
              </div>
            </div>
          </div> 
        -->
          
        </div>
       
      </section>
      <!--Section: Minimal statistics cards-->



      <!-- Card Sextion Starts Here -->
      <div class="flex flex-1 flex-col md:flex-row lg:flex-row mx-0 py-2">

        <!-- card -->

        <div class="rounded overflow-hidden shadow bg-white mx-2 w-full">
            <div class="px-5 py-2 border-b border-light-grey">
                <div class="font-bold text-xl py-4" style="text-align: center;font-family: cursive;">Retail Course Brochure Requests 

                    <button mat-raised-button color="primary"  class="mx-5" (click)=exportToExcel()>Download Excel</button>
                </div>
            </div>
            <div class="table-responsive px-5 mx-5" >
                <table class="table text-grey-darkest" id='excel-table'>
                    <thead class="bg-grey-dark text-normal">
                       <tr >
                          <th scope="col">#</th>
                          <th scope="col">Date of Submition</th>
                          <th scope="col">Name</th>
                          <th scope="col">Email</th>
                          <th scope="col">Phone</th>
                          <th scope="col">Highest Qualification</th>
                          <th scope="col">Are you Employed?</th>
                          <th scope="col">Message</th>
                          
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let info of data;let ndx = index">
                          <td>{{ndx+1}}</td>
                          <td>{{info.submittedDate|date:'short'}}</td>
                          <td>{{info.name}}</td>
                          <td>{{info.email}}</td>
                          <td>{{info.phone}}</td>
                          <td>{{info.highest_qualification}}</td>
                          <td>{{info.employed}}</td>
                          <td>{{info.messsage}}</td>
                         
                        </tr>
                      
                      
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /card -->

    </div>

    <div class="flex flex-1 flex-col md:flex-row lg:flex-row mx-0 py-2">

        <!-- card -->

        <div class="rounded overflow-hidden shadow bg-white mx-2 w-full">
            <div class="px-6 py-2 border-b border-light-grey">
                <div class="font-bold text-xl py-4" style="text-align: center;font-family: cursive;">Corporate Brochure Requests 

                    <button mat-raised-button color="primary"  class="mx-5" (click)=exportToExcel1()>Download Excel</button>
                </div>
            </div>
            <div class="table-responsive px-5 mx-5" >
                <table class="table text-grey-darkest" id='excel-table1'>
                    <thead class="bg-grey-dark text-normal">
                       <tr >
                          <th scope="col">#</th>
                          <th scope="col">Date of Submition</th>
                          <th scope="col">Name</th>
                          <th scope="col">Email</th>
                          <th scope="col">Phone</th>
                          <th scope="col">Highest Qualification</th>
                          <th scope="col">Are you Employed?</th>
                          <th scope="col">Message</th>
                          
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let info of data1;let ndx = index">
                          <td>{{ndx+1}}</td>
                          <td>{{info.submittedDate|date:'short'}}</td>
                          <td>{{info.name}}</td>
                          <td>{{info.email}}</td>
                          <td>{{info.phone}}</td>
                          <td>{{info.highest_qualification}}</td>
                          <td>{{info.employed}}</td>
                          <td>{{info.messsage}}</td>
                         
                        </tr>
                      
                      
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /card -->
        <div class="flex flex-1 flex-col md:flex-row lg:flex-row mx-0 py-2">

            <!-- card -->
    
            <div class="rounded overflow-hidden shadow bg-white mx-2 w-full">
                <div class="px-6 py-2 border-b border-light-grey">
                    <div class="font-bold text-xl py-4" style="text-align: center;font-family: cursive;">Instutional Course Brochure Requests 
    
                        <button mat-raised-button color="primary"  class="mx-5" (click)=exportToExcel2()>Download Excel</button>
                    </div>
                </div>
                <div class="table-responsive px-5 mx-5" >
                    <table class="table text-grey-darkest" id='excel-table2'>
                        <thead class="bg-grey-dark text-normal">
                           <tr >
                              <th scope="col">#</th>
                              <th scope="col">Date of Submition</th>
                              <th scope="col">Name</th>
                              <th scope="col">Email</th>
                              <th scope="col">Phone</th>
                              <th scope="col">Highest Qualification</th>
                              <th scope="col">Are you Employed?</th>
                              <th scope="col">Message</th>
                              
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let info of data2;let ndx = index">
                              <td>{{ndx+1}}</td>
                              <td>{{info.submittedDate|date:'short'}}</td>
                              <td>{{info.name}}</td>
                              <td>{{info.email}}</td>
                              <td>{{info.phone}}</td>
                              <td>{{info.highest_qualification}}</td>
                              <td>{{info.employed}}</td>
                              <td>{{info.messsage}}</td>
                             
                            </tr>
                          
                          
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /card -->
    
        </div>
    

    </div>


    </div>
  </main>


