 
  <!-- ------------------------------New----------------------------------- -->
  <div class="container h-100 my-5">
<div class="row align-items-center h-100">
    <div class="col-5 mx-auto">
        <div>
            <!-- <img id="profile-img" class="rounded-circle profile-img-card" src="https://www.techrepublic.com/a/hub/i/r/2019/02/14/4f571ee4-f9de-4f80-8028-e9981ca7c1b0/resize/1200x/7e814383fc5f43db8033047fc9f57c1e/istock-901609212datasecurity.jpg" /> -->
            <p id="profile-name" class="profile-name-card"></p>
            <form  class="form-signin" #loginform="ngForm" (ngSubmit)="loginUser()">
                
              
              
                <input type="password" id="inputPassword" name="password" [(ngModel)]="user.password"  class="form-control form-group  mx-5" placeholder="password" required autofocus>
                <label id="passwordErrorlbl" style="color: red;" name="passwordErrorlbl">{{passwordErrorlbl}}</label><br>
                <button class="btn btn-lg btn-primary btn-block btn-signin my-2 py-2 mx-5" type="submit" id="loginbtn" [disabled]=loginform.form.invalid>enter</button>
            </form>
        </div>
    </div>
</div>
</div>
